  
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/* base styles */
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(232,119,8,0.7293934681181959) 45%, rgba(252,176,69,1) 100%);
  color: #fff;
}

.App {
  max-width: 860px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: #c23866;
  color: #fff;
}
.card-grid{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
}

@media (max-width:600px) {
 
  .card-grid{
    margin: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4,25%);
    align-content:center;
    justify-content: center;
  }
}